@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";


* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

    &:link,
    &:visited,
    &:hover {
        color: inherit;
    }
}

button:hover {
    cursor: pointer;
}

[draggable='true'] {
    user-select: none;
}

#nprogress .bar {
    background: #3EA350 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #3EA350, 0 0 5px #3EA350 !important;
}

#nprogress .spinner-icon {
    border-top-color: #3EA350 !important;
    border-left-color: #3EA350 !important;

}