$primeFontSize: 1rem;
$primeWidth: 90rem;
$primeBacColor: #FCFAF2;
$secondBacColor: #0c3b2c;

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin main-part {
    padding: 1rem 6rem;
    margin: 0 auto;
    max-width: $primeWidth;
}

@mixin WnH($width, $height: $width) {
    width: $width;
    height: $height;
}