$primaryFontSize: 1rem;
$primaryWidth: 120rem;
$primaryBacColor: #FCFAF2;
$primaryBacColor_dark: #fff6d6;
$secondBacColor: #00430b;
$btnBacColor: #0d731e;
$btnBacColor_light: #3EA350;
$error_color: #b3261e;
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1440px;

%headerPseudo {
    &::before {
        content: '';
        display: block;
        height: 100px;
        width: 100%;
    }
}

@mixin absoluteCenterTLXY($top: 50%, $left: 50%, $X: -50%, $Y: -50%) {
    position: absolute;
    left: $left;
    top: $top;
    transform: translate($X, $Y);
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%fixContainer {
    @include flex-center-center;
    max-width: 100%;
}

@mixin main-part {
    // padding: 1rem 6rem;
    // margin: 0 auto;
    margin: 1rem 6rem;
    max-width: $primaryWidth;
}

@mixin WnH($width, $height: $width) {
    width: $width;
    height: $height;
}