$primaryFontSize: 1rem;
$primaryWidth: 120rem;
$primaryBacColor: #FCFAF2;
$secondBacColor: #00430b;

%headerPseudo {
    &::before {
        content: '';
        display: block;
        height: 100px;
        width: 100%;
    }
}



@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%fixContainer {
    @include flex-center-center;
    max-width: 100%;
}

@mixin main-part {
    // padding: 1rem 6rem;
    // margin: 0 auto;
    margin: 1rem 6rem;
    max-width: $primaryWidth;
}

@mixin WnH($width, $height: $width) {
    width: $width;
    height: $height;
}